/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    vertical-align: middle;
}

#nav-list li {
    text-align: center;
}

#main-content {
    background-color: #2aabd2;
    height: 1000px;
}
